<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/style.css" />
    <script type="module" src="/src/main.ts"></script>
  </head>
  <body>
    <h1>🎉 축제 리스트</h1>
    <h2 class="text-red-500">안녕하세요 테스트</h2>
    <form id="filterForm" action="filterForm">
      <select id="locationFilter">
        <option value="">전체</option>
        <option value="1">서울</option>
        <option value="2">인천</option>
        <option value="3">대전</option>
        <option value="4">대구</option>
        <option value="5">광주</option>
        <option value="6">부산</option>
        <option value="7">울산</option>
        <option value="8">세종</option>
        <option value="31">경기</option>
        <option value="32">강원</option>
        <option value="33">충북</option>
        <option value="34">충남</option>
        <option value="35">경북</option>
        <option value="36">경남</option>
        <option value="37">전북</option>
        <option value="38">전남</option>
        <option value="39">제주</option>
      </select>

      <input type="date" id="startDate" />
      <input type="date" id="endDate" />
      <button type="submit">검색</button>
    </form>
    <div id="festivalList"></div>
  </body>
</html>
