<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Swiper Carousel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="module" src="../ts/carousel.ts"></script>
  </head>
  <body>
    <div
      class="swiper mySwiper w-full h-[60vh] max-h-[43.75rem] lg:h-[60vh] sm:h-[80vh]">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="../assets/img/sample-image1.webp"
            alt="슬라이드1"
            class="w-full h-full object-cover object-center" />
        </div>
        <div class="swiper-slide">
          <img
            src="../assets/img/sample-image2.webp"
            alt="슬라이드2"
            class="w-full h-full object-cover object-center" />
        </div>
        <div class="swiper-slide">
          <img
            src="../assets/img/sample-image3.webp"
            alt="슬라이드3"
            class="w-full h-full object-cover object-center" />
        </div>
      </div>

      <!-- Optional navigation buttons -->
      <!-- <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> -->

      <!-- Optional pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </body>
</html>
