<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @font-face {
        font-family: "Pretendard-Variable";
        src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
          format("woff");
        font-weight: 400;
        font-style: normal;
      }

      body {
        font-family: "Pretendard-Regular";
      }
    </style>
  </head>
  <body>
    <div class="max-w-[58.5rem] mx-auto px-4">
      <img
        src="https://cdn.pixabay.com/photo/2019/03/09/15/13/tea-4044271_1280.jpg"
        class="mx-auto rounded-[0.625rem]"
      />
      <div class="space-y-4 text-left">
        <!-- border 삭제 -->
        <div class="px-3 my-4 md:my-8">
          <h1 class="text-xl md:text-4xl font-[800]">
            제7회 청소년적성찾기대회
          </h1>

          <!-- 축제 기간 -->
          <div class="mt-4 md:mt-6">
            <h2
              class="text-[.875rem] md:text-lg font-bold md:mb-2 py-1 px-2 md:py-2 md:px-4 w-fit rounded-3xl border border-gray-500"
            >
              🗓️ 축제 기간
            </h2>
            <p class="text-[.875rem] ml-2 mt-1 md:text-lg font-[400]">
              2025-01-11 ~ 2025-01-11
            </p>
          </div>

          <!-- 축제 장소 -->
          <div class="mt-6">
            <h2
              class="text-[.875rem] md:text-lg font-bold md:mb-2 py-1 px-2 md:py-2 md:px-4 w-fit rounded-3xl border border-gray-500"
            >
              📍 축제 장소
            </h2>
            <p class="text-[.875rem] ml-2 mt-1 md:text-lg font-[400]">
              경상북도 구미시 송정대로 89
            </p>
            <p class="text-[.875rem] ml-2 md:text-m font-[300]">상세 주소?</p>
          </div>

          <!-- 문의처 -->
          <div class="mt-6">
            <h2
              class="text-[.875rem] md:text-lg font-bold md:mb-2 py-1 px-2 md:py-2 md:px-4 w-fit rounded-3xl border border-gray-500"
            >
              📞 문의처
            </h2>
            <p class="text-[.875rem] ml-2 mt-1 md:text-lg font-[400]">
              054-420-7827
            </p>
          </div>
        </div>
        <div>
          <div
            class="weather-container-wrap no-select flex justify-center text-center py-4 border rounded-2xl border-gray-300 overflow-hidden"
          >
            <ul class="weather-container flex short-term"></ul>
            <ul class="weather-container flex mid-term"></ul>
          </div>
        </div>
        <div class="mt-10 max-w-[58.5rem] mx-auto rounded-2xl">
          <section
            id="map"
            class="w-full h-[16.5rem] sm:h-[31.25rem] mb-10 rounded-2xl border border-ga-gray200 relative z-0"
          >
            <div
              class="absolute bottom-4 right-4 flex flex-col lg:flex-row gap-2 z-10"
            >
              <button
                id="getRoute"
                class="flex text-xs sm:text-sm items-center gap-1 sm:gap-2 px-4 py-1.5 sm:px-6 sm:py-2 bg-red-500 text-white font-semibold rounded-full shadow-md hover:bg-red-600 transition-colors duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-4 sm:w-5 sm:h-5"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  fill="currentColor"
                >
                  <path
                    d="M3,4V12.5L6,9.5L9,13C10,14 10,15 10,15V21H14V14C14,14 14,13 13.47,12C12.94,11 12,10 12,10L9,6.58L11.5,4M18,4L13.54,8.47L14,9C14,9 14.93,10 15.47,11C15.68,11.4 15.8,11.79 15.87,12.13L21,7"
                  />
                </svg>
                길 찾기
              </button>

              <button
                id="changeOrigin"
                class="flex text-xs sm:text-sm items-center gap-1 sm:gap-2 px-4 py-1.5 sm:px-6 sm:py-2 bg-white text-red-500 font-semibold rounded-full border border-red-500 shadow-md hover:bg-red-500 hover:text-white transition-colors duration-200"
              >
                + 출발지 변경
              </button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
