<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세 페이지</title>
    <link rel="stylesheet" href="/src/style.css" />
    <link rel="module" href="/src/main.ts" />
    <!-- <link rel="module" href="/src/ts/detail.ts" /> -->
    <script type="module" src="/src/ts/features/detail.ts"></script>
  </head>
  <body>
    <h1 class="sr-only">축제 상세 페이지</h1>
    <header
      class="px-2 md:px-[7%] lg:px-[13%] py-4 md:py-5 flex justify-between items-center"
    >
      <a href="./index.html" class="w-[5rem] md:w-[7.5rem]">
        <img src="../assets/icon/logo.svg" alt="home" />
      </a>
      <a
        href="/src/components/login.html"
        class="border border-[#ff515d] text-[#ff515d] hover:bg-[#ff515d] transition hover:text-white rounded-2xl py-0.5 px-3 md:py-1.5 md:px-6 text-10 md:text-14 font-semibold font-sans"
        >로그인</a
      >
    </header>
    <div class="festival-container">
      <a class="back-button" href="/index.html">
        <img src="/src/assets/icon/back-btn.svg" alt="뒤로가기 버튼" />
      </a>

      <div id="festivalDetail">
        <div
          class="flex justify-center items-center max-w-[58.5rem] h-screen w-full flex-col gap-4"
        >
          <div
            class="animate-spin h-10 w-10 border-4 border-ga-red200 rounded-full border-t-transparent"
          ></div>
          <p class="text-gray-600">축제 정보를 불러오는 중...</p>
          <div
            id="weatherInfo"
            class="mt-10 max-w-[58.5rem] mx-auto px-4"
          ></div>
          <div id="kakaoMap" class="mt-10 max-w-[58.5rem] mx-auto px-4"></div>
        </div>
      </div>
    </div>
  </body>
</html>
