<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세 페이지</title>
    <link rel="stylesheet" href="/src/style.css" />
    <link rel="module" href="/src/main.ts" />
    <!-- <link rel="module" href="/src/ts/detail.ts" /> -->
    <script type="module" src="/src/ts/features/detail.ts"></script>
    <script type="module" src="/src/ts/auth/header.ts"></script>
  </head>
  <body>
    <h1 class="sr-only">축제 상세 페이지</h1>
    <header
      class="shadow-sm px-2 md:px-[7%] lg:px-[13%] py-2 md:py-2.5 flex justify-between items-center"
    >
      <a href="/index.html" class="w-[5.5rem] md:w-[7.5rem] lg:w-[8rem]">
        <img src="../assets/icon/logo.svg" alt="home" />
      </a>
      <a
        id="authBtn"
        href="/src/components/login.html"
        class="border border-[#ff515d] text-[#ff515d] hover:bg-[#ff515d] transition hover:text-white rounded-3xl py-1 px-3 md:py-1.5 md:px-6 text-12 md:text-14 lg:text-16 font-semibold font-sans"
        >로그인</a
      >
    </header>
    <div class="festival-container">
      <a
        href="/index.html"
        class="fixed left-8 bottom-8 w-[70px] h-[70px] bg-[#ff515d] rounded-full flex justify-center items-center shadow-md hover:shadow-lg transition-all duration-300 ease-in-out hover:scale-105 z-50"
      >
        <img
          src="/src/assets/icon/arrow.svg"
          alt="뒤로가기 버튼"
          class="w-10 h-10"
        />
      </a>

      <div id="festivalDetail" class="mt-10">
        <div
          class="flex justify-center items-center max-w-[58.5rem] h-screen w-full flex-col gap-4"
        >
          <div
            class="animate-spin h-10 w-10 border-4 border-ga-red200 rounded-full border-t-transparent"
          ></div>
          <p class="text-gray-600">축제 정보를 불러오는 중...</p>
          <div
            id="weatherInfo"
            class="mt-10 max-w-[58.5rem] mx-auto px-4"
          ></div>
          <div id="kakaoMap" class="mt-10 max-w-[58.5rem] mx-auto px-4"></div>
        </div>
      </div>
    </div>
    <div class="w-full h-[1px] bg-ga-gray200 md:mt-21 lg:mt-80"></div>
    <footer
      class="px-2 md:px-[7%] lg:px-[13%] flex flex-col md:flex-row justify-left md:justify-between py-10 md:py-12"
    >
      <span class="md:w-[7rem] w-[4.5rem]">
        <img src="../assets/icon/logo.svg" alt="" />
      </span>
      <span class="text-ga-gray300 text-12 pt-1.5 md:pt-0 md:text-16"
        >&copy; 2025 여기갈래 All rights reserved.</span
      >
    </footer>
  </body>
</html>
