<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="/src/style.css" />
  </head>
  <body class="relative">
    <div class="w-full h-[1px] bg-ga-gray200 mt-17 md:mt-21"></div>
    <footer
      class="relative left-1/2 translate-x-[-50%] flex flex-col md:flex-row justify-left md:justify-between max-w-[58.5rem] py-10 px-5 lg:px-0 md:py-12"
    >
      <span class="w-1/9 min-w-[4rem]">
        <img src="../assets/icon/logo.svg" alt="" />
      </span>
      <span class="text-ga-gray300 text-12 pt-1.5 md:pt-0 md:text-16"
        >&copy; 2025 여기갈래 All rights reserved.</span
      >
    </footer>
  </body>
</html>
