<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="/src/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="relative">
    <div class="w-full h-[1px] bg-ga-gray200 mt-17 md:mt-21"></div>
    <footer
      class="px-2 md:px-[7%] lg:px-[13%] flex flex-col md:flex-row justify-left md:justify-between py-10 md:py-12"
    >
      <span class="md:w-[7rem] w-[4.5rem]">
        <img src="../assets/icon/logo.svg" alt="" />
      </span>
      <span class="text-ga-gray300 text-12 pt-1.5 md:pt-0 md:text-16"
        >&copy; 2025 여기갈래 All rights reserved.</span
      >
    </footer>
  </body>
</html>
