<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header 컴포넌트</title>
    <link rel="stylesheet" href="/src/style.css" />
    <script type="module" src="/src/ts/auth/header.ts"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header
      class="px-2 md:px-[7%] lg:px-[13%] py-4 md:py-5 flex justify-between items-center"
    >
      <a href="./card.html" class="w-[5rem] md:w-[7.5rem]">
        <img src="../assets/icon/logo.svg" alt="home" />
      </a>
      <a
        id="authBtn"
        href="./login.html"
        class="border border-[#ff515d] text-[#ff515d] hover:bg-[#ff515d] transition hover:text-white rounded-2xl py-0.5 px-3 md:py-1.5 md:px-6 text-10 md:text-14 font-semibold font-sans"
        >로그인</a
      >
    </header>
  </body>
</html>
