<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header 컴포넌트</title>
    <link rel="stylesheet" href="/src/style.css" />
  </head>
  <body>
    <header
      class="relative left-1/2 translate-x-[-50%] flex justify-between items-center max-w-[58.5rem] py-4 px-5 lg:px-0 md:py-5"
    >
      <a href="./card.html" class="w-1/8 min-w-[4.5rem]">
        <img src="../assets/icon/logo.svg" alt="home" />
      </a>
      <a
        href="./login.html"
        class="border border-[#ff515d] text-[#ff515d] hover:bg-[#ff515d] transition hover:text-white rounded-2xl py-0.5 px-3 md:py-1.5 md:px-6 text-10 md:text-14 font-semibold font-sans"
        >로그인</a
      >
    </header>
  </body>
</html>
